{% extends 'layout.html' %}
{% block title %}{{ page.title }} - Projects{% endblock %}

{% block breadcrumb %}
	<a href="{{ contents['index.md'].url }}">Home</a>
	 » 
	<a href="{{ contents['projects.json'].url }}">Projects</a>
	 » 
	{{ page.title }}
{% endblock %}

{% block content %}
	<h1>Projects - {{ page.title }}</h1>
	
	<table cellpadding="0" cellspacing="0">
		<thead>
			<tr>
				<th>Title</th>
				<th>Development start</th>
				<th>First release</th>
			</tr>
		</thead>
		<tbody>
			{% set fileName = page.filename.substr(page.filename.indexOf('/')) %}
			{% set fileName = fileName.substr(0, fileName.lastIndexOf('.')).substr(1) %}
			
			{% set projects = page.parent[fileName]._.pages %}
			{% if projects|length > 0 %}
				{% for project in projects %}
					<tr {% if loop.index%2 != 0 %}class="dark"{% endif %}>
						<td><a href="{{ project.url }}">{{ project.title }}</a></td>
						<td>{{ project.metadata.developmentStart|default('-') }}</td>
						<td>{{ project.metadata.releaseDate|default('-') }}</td>
					</tr>
				{% endfor %}
			{% else %}
				<tr class="dark">
					<td colspan="3">Sorry! There no links in this category right now :(</td>
				</tr>
			{% endif %}
		</tbody>
	</table>
{% endblock %}
